<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            <p v-if="isboy">im is boy</p>
            <ol>
                <li v-for="item in list">
                    {{ item.text }}
                </li>
            </ol>
            <test-component></test-component>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script type="text/javascript" src="../dist/demotest/vue/plug1.js"></script>
        <script type="text/javascript">

        </script>

    </body>
</html>
