<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue VS jQuery</title>
    <script type="text/javascript" src="./vue.js"></script>
    <style type="text/css">
    	body{ margin: 0; padding: 0; }
    	#app{ width: 250px; margin: 20px auto; }
    	.selected{ transform: scale(1.1); }
        .minus{ cursor: pointer; }
    </style>
</head>
<body>
	<div id="app">
		<div>
			<input type="text" v-model="newItem"/>
			<button id="add" v-on:click="add">添加</button>
		</div>
        <p>input: {{newItem}}</p>

		<div class="list-ctner" v-if="listCount > 0"  title="v-if bind">
			<p>总共有<span id="list-count">{{listCount}}</span>条记录</p>
			<ul class="list">
				<li v-for="(item, index) in list" v-on:click="selectIt(index)" v-bind:class="{ selected: selected == index }">{{index+1}}-{{item}}<span class="minus" v-bind:index="index" v-on:click.stop="minus(index)">×</span></li>
			</ul>
		</div>
	</div>
    <script type="text/javascript">
    	var app = new Vue({
    		el: "#app",
            data: {
            	newItem: '',
                list: [],
                selected: -1
            },
            methods: {
            	add: function(){
            		this.list.push(this.newItem);
            	},
            	minus: function(idx){
            		this.list.splice(idx,1);
            	},
            	selectIt: function(idx){
            		this.selected = idx;
            	}
            },
            computed: {
            	listCount: function(){
            		return this.list.length;
            	}
            }
    	});
    </script>
</body>
</html>